name: Go Backend CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: english_tadoku_app_ci_test
      DB_HOST: localhost
      TEST_DATABASE_URL: "postgres://postgres:password@localhost:5432/english_tadoku_app_ci_test?sslmode=disable"
      
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
          POSTGRES_DB: ${{ env.DB_NAME }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U ${{ env.DB_USER }} -d ${{ env.DB_NAME }}"
          --health-interval 10s
          --health-timeout 5s
          --health-retries-start 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Run database migrations
        run: |
          docker run --network=host migrate/migrate \
            -path ./backend/db/migrations \
            -database "${{ env.TEST_DATABASE_URL }}" up

      - name: Run tests
        working-directory: ./backend
        run: go test -v -race -coverprofile=coverage.out -covermode=atomic ./...
      
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # 事前にGitHub Secretsに設定が必要
          working-directory: ./backend
          file: ./coverage.out # カバレッジファイルの場所を明示
          flags: unittests # テストの種類にフラグを立てる
          name: codecov-umbrella # アップロード名を定義